body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.8125rem;
    background-color: var(--grey-100);
    display: grid;
}
.container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
            "person-1"
            "person-2"
            "person3"
            "person4"
            "person5";
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 2.375rem;
    margin: 1.5625rem ;
    border-radius: 20px;
    gap: 0.9375rem;
}
.information {
    display: flex;
}

.information img {
    margin-right: 1.25rem;
    width: 3.125rem;
    border-radius: 50px;
}

.personal-information h3 {
    color: var(--grey-200);
}

.testimonial-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.testimonial-text {
    font-size: 0.9375rem;
}

.person-1 img, .person-4 img{
    border: 3px solid var(--purple-300);
}

.person-1{
    background: var(--purple-500);
    color: var(--white);
    grid-area: person-1;
}
.person-2{
    background-color: var(--grey-500);
    color: var(--white);
    grid-area: person-2;

}
.person-3{
    background-color: var(--white);
    color: var(--black);
    grid-area: person-3;
}
.person-4{
    background-color: var(--dark-blue);
    color: var(--white);
    grid-area: person-4;
}
.person-5{
    background-color: var(--white);
    color: var(--black);
    grid-area: person-5;
}
